@import '../../../styles/variables';
/* reset */
button {
  all: unset;
}

.SwitchRoot {
  width: 48px;
  height: 28px;
  border-radius: 9999px;
  position: relative;
  background-color: #404040;
  
  @media (max-width: 768px) {
    height: 24px;
    width: 44px;
  }

  .light & {
    background-color: #030712;
    box-shadow: 0px 4px 20px 0px #00000040;
  }

  &[data-state='checked'] {
    background-color: var(--green-color);
  }
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
  &[data-state='checked'] {
    transform: translateX(22px);

    @media (max-width: 768px) {
      transform: translateX(22px);
    }
  }

  @media (max-width: 768px) {
    height: 16px;
    width: 16px;
  }
}

.Label {
  color: white;
  font-size: 15px;
  line-height: 1;
  user-select: none;
}