@import '../../styles/variables';

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $bg-color;
    border-radius: 20px;
    padding: 20px;
    width: 100%;

    @media (max-width: 768px) {
        border-radius: 0;
       }
}