@import '../../../styles/variables';

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &.btn-primary {
      background-color: $green-color;
      color: white;
  
      &:hover {
        opacity: 0.8;
      }
    }
  
    &.btn-secondary {
      background-color: $add-bg-color;
      color: white;
  
      &:hover {
        background-color: #37383C;
      }
    }

    &.btn-transparent {
      background-color: transparent;
    }
  
    &:disabled {
      background-color: $bg-color;
      cursor: not-allowed;
    }
  }
  