.textarea {
    width: 100%;
    resize: none;
    background-color: transparent;
    border: none;
    color: var(--white);
    outline: none;

    .light & {
      color: var(--text-color-light);
    }
  }
  