@import '../../styles/variables';

.sidebar {
    overflow: hidden;
    padding: 20px 12px;
    background-color: $black-color;
    color: #fff;
    height: 100%; 
    transition: 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);

    @media (max-width: 768px) {
        position: fixed;
        left: -999px;
        z-index: 9;


        &-open {
            left: 0;
        }
    }

    &-dropdown {
        border-radius: 14px;
        background-color: #222527;
        margin-top: 24px;

        @media (min-width: 768px) {
            display: none;
        }

        .dropdown-avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
        }
    }

    &-close {
        background-color: transparent;
    }

    &-wrapper {
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 100%;

        @media (max-width: 768px) {
            padding-bottom: 30px;
        }
    }

    &-header {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding-bottom: 24px;
            border-bottom: 1px solid #404040;
        }

        .menu {
            display: block;

            @media (max-width: 768px) {
                display: none;
            }
        }

        .burger {
            display: none;

            @media (max-width: 768px) {
               display: block;
            }
        }
    }

    &-content {
        padding-top: 35px;
        flex: 1 0 0%;
        overflow-y: auto;
    }

    .conversation-date-label {
        padding: 12px 0;
        font-size: 12px;
        color: #a3a3a3;
    }

    .conversation-item {
        display: flex;
        padding: 12px;
        font-size: 14px;
        white-space: nowrap;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        gap: 10px;
        min-height: 48px;

        svg {
            opacity: 0;
            width: 0;
            display: none;
        }

        button {
            margin-left: auto;
        }

        & > div {
            background-color: #222527;
            border-radius: 10px;
            & > div {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 10px;
            }
        }

        &.active,
        &:hover {
            border-radius: 10px;
            background-color: #222527;

            button,
            svg {
                opacity: 1;
                width: max-content;
                display: block;
            }
        }

        button {
            opacity: 0;
        }
    }

    &-new-chat {
        gap: 8px;
        padding: 8px 16px;
        border-radius: 14px;

        span {
            @media (max-width: 768px) {
                display: none;
            }
        }

 

        &.btn {
            background-color: $green-color;
            color: #151617;
        }
    }
}

  