@import '../../styles/variables';

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    width: 100%;

    &-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &-logo {
        margin-bottom: 30px;
        width: 100%;
        max-width: 140px;

        svg {
            width: 100%;
        }

        @media (max-width: 768px) {
            max-width: 100px;
            margin-bottom: 20px;
        }
    }

    &-title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    &-version {
        border: 1px solid #404040;
        border-radius: 8px;
        width: max-content;
        padding: 6px 10px;
        margin-bottom: 44px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }
    }

    &-prompts {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 8px;


        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
           }
    }

    &-prompt {
        width: 100%;
        max-width: 240px;
        padding: 16px;
        border-radius: 20px;
        background-color: $add-bg-color;

        &-title {
            margin-top: 20px;
            margin-bottom: 8px;
            font-size: 16px;
            font-weight: 600;
            line-height: 1.5;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            color: #a3a3a3;
        }
    }
}