@import '../../styles/variables';

.chat-message-wrappper {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  & > div {
    width: 100%;
    max-width: 70%;
    display: flex;
    gap: 9px;
    align-items: flex-start;
    
    @media (max-width: 768px) {
      max-width: 80%;
    }
  }
}

.chat-message-user,
.chat-message-assistant {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #37383C;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  max-width: 70%;
  margin-left: auto;
}

.chat-message-user {
  display: flex;
  flex-direction: column;
  position: relative;

  &-edit {
    position: absolute;
    right: 22px;
    top: 18px;
  }

  .chat-message-images {
    display: flex;
    gap: 10px;
    order: 2;
    border-top: 1px solid #404040;
    padding-top: 20px;

    .chat-message-image {
        width: 100%;
        max-width: 120px;
    }
  }
}

.chat-message-assistant {
  width: 100%;
  max-width: 100%;
  background-color: $add-bg-color;
  margin-right: auto;
  margin-left: unset;
  position: relative;
  margin-bottom: 20px;

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141718;
    padding: 2px 8px;
    border-radius: 6px;
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    &:hover:not(.chat-message-assistant-reactions) {
      background-color: #37383C;
    }

    .like:hover {
      path {
        stroke: $green-color;
      }
    }

    .dislike:hover {
      path {
        stroke: #CF4021;
      }
    }
  }

  &-buttons {
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: -30px;
  }

  p {
    margin-bottom: 20px;
  }

  img {
    width: 100%;
    max-width: 200px;
    border-radius: 16px;
    overflow: hidden;
  }

  .assistant-images-wrapper {
    display: flex;
    padding-top: 20px;
    border-top: 1px solid #404040;
    gap: 10px;

    .assistant-image {
      position: relative;

      &:hover {
        .assistant-image-download {
          opacity: 1;
          visibility: visible;
        }
      }

      &-download {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 8px;
        top: 8px;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        background-color: $add-bg-color;
      }
    }
  }

  .chat-message-markdown {
    width: 100%;
  }
}

.chat-message-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  flex: 1 0 auto;
  border-radius: 16px;
  background-color: #171717;

  @media (max-width: 768px) {
   display: none;
  }
}

.chat-message-markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    color: #A3A3A3;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
  }

  table {
    border-collapse: separate;
    width: 100%;
    text-align: left;
    font-size: 14px;
    border-spacing: 0 0;
  }

  thead {
    th {
      border-style: solid;
      background-color: #242628;
      border-top-width: 1px;
      border-bottom-width: 1px;
      padding: 12px;
      color: #fff;
      border-color: #404040;
      font-weight: 600;
      border-left-width: 1px;
  

      &:first-child {
        border-top-left-radius: 5px;
      }

      &:last-child {
        border-right-width: 1px;
        border-top-right-radius: 5px;
      }
    }
  }

  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 5px;
      }

      td:last-child {
        border-bottom-right-radius: 5px;
      }
    }

    td {
      border-style: solid;
      border-color: #404040;
      padding: 12px;
      background-color: #1C1F20;
      color: #A3A3A3;
      font-weight: 400;
      border-bottom-width: 1px;
      border-left-width: 1px;

      &:last-child {
        border-right-width: 1px;
      }
    }
  }

  .code-wrapper {
    background-color: #242628;
    border-radius: 12px;
    padding: 16px;
    overflow: auto;
    font-size: 14px;
    line-height: 1.5;

    .hljs-attr,
    .hljs-selector-class,
    .hljs-selector-tag {
      color: #FFD027;
    }

    .hljs-string,
    .hljs-attribute {
      color: $green-color;
    }

    .code-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #404040;
      padding-bottom: 16px;
    }

    .code-copy {
      padding: 8px 16px;
      border-radius: 12px;
    }

    .my-0 {
      display: block;
      margin-top: 15px;
      background-color: unset !important;
    }
  }
}


.DialogContent {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;

  .assistant-image {
    position: relative;

    img {
      border-radius: 24px;
      overflow: hidden;
    }

    &:hover {
      .assistant-image-download {
        opacity: 1;
        visibility: visible;
      }
    }

    &-download {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 8px;
      top: 8px;
      opacity: 0;
      visibility: hidden;
      background-color: $add-bg-color;
      border-radius: 16px;
    }
  }
}

.dialog-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  position: absolute;
  right: 24px;
  top: 24px;
  background-color: #37383C;
  cursor: pointer;
  pointer-events: auto;
}

.DialogOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(8, 8, 8, 0.8);
}