.App {
  background-color: var(--black);
  height: 100%;

  .light & {
    background-color: var(--light);
  }
}

#root {
  height: 100%;
  padding: 15px;
  background-color: var(--black);
  padding-left: 10px;
  
  .light & {
    background-color: var(--light);
  }

  @media (max-width: 768px) {
   padding: 0;
  }
}


.layout {
  display: flex;
  height: 100%;
}

main {
  flex: 1 1 0%;
}